.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #eee; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.1s; 
    text-shadow: 1px 1px 1px #eee;
    /*border:1px solid;*/
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#close-btn:hover{
    color: #eee !important;
}